.bottom-cta {
    bottom: 88px;
    position: absolute;
    right: 25px;
}

.record-status {
        position: fixed;
    top: 55px;
    left: 0px;
    right: 0px;
    text-align: center;
    background: red;
    color: white;
}